body{
    background:url(pidor.png) no-repeat;
    background-size: cover;
    width: 100vw;
    
}
.container{
  background-color: rgba(238, 238, 238, 0.6);
  padding:30px 30px 30px 30px; 
}
.bg-black {
    background: none;
}
h1{
  color:rgb(7, 7, 7);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:600%;
}
.lessopaque{
  background-color: rgba(238, 238, 238, 0.8);
}